.card {
  // background-color: gray;
  width: 187.5px;
  margin: 10px;
  p {
    padding: 5px 15px;
  }
  img {
    height: 250px;
  }
}

@media (width < 400px) {
  .card {
    width: 150px;

    img {
      height: 200px;
    }
  }
}
