<header class="header"></header>
<div class="search">
  <label for="search">Search</label>
  <input (input)="filterCharacters($event)" id="search" type="text" />
</div>
<div>
  <div class="cards-grid">
    <app-character-card
      *ngFor="let character of filteredCharacters"
      [character]="character"
    ></app-character-card>
  </div>
</div>
