.header {
  background-color: black;
  height: 30px;
}

.search {
  padding: 20px;
}
.cards-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
app-character-card:nth-child(even) {
  background-color: red;
}

app-character-card:nth-child(odd) {
  div.card {
    background-color: blue;
  }
}
